* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.primery-color {
  color: #fd6e0a;
}
.dark-color {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #474747;
}
.primery-button {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background: #fd6e0a;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 1.2px;
  transition: all 0.5s;
  border: 1px solid #fd6f0a00;
  cursor: pointer;
}
.secondry-button {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  color: #fd6e0a;
  background: transparent;
  border-radius: 5px;
  letter-spacing: 1.2px;
  transition: all 1s;
  border: 1px solid #fd6e0a;
  transition: all 1s;
}
.secondry-button:hover {
  background: #fd6e0a;
  color: #ffffff;
}
.primery-button:hover {
  color: #cd5b0a;
  background: transparent;
  border: 1px solid #fd6e0a;
}
.primery-bg {
  color: #fd6e0a;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
  color: #181818;
}
.dis {
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 30px;
  color: #757575;
  max-width: 900px;
  text-align: justify;
}
/* header style  */
header {
  height: 830px;
  background-image: url("/images/hardy.png"), url("/images/header_bg.png"),
    url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, right bottom, left center;
  margin-bottom: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
nav .logo {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;

  color: #181818;
}
nav .links ul {
  display: flex;
}
nav .links ul li {
  list-style: none;
  margin-left: 20px;
  background: transparent;
  transition: all 0.5s;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}
nav .links ul li:hover {
  background: #fd6f0a44;
}
nav .links ul li:hover:last-child {
  background: #fd6f0a00;
}
nav .links ul li a {
  text-decoration: none;
}
.header-text-box {
  text-align: left;
  margin-top: 180px;
}
.header-text-box > h2 {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}
.header-text-box > h2 > span {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
}
.header-text-box > .header-text {
  width: 585px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 30px;
}
.header-text-box > .header-text-button {
  display: flex;
  gap: 30px;
}
.header-text-box > .header-text-button li {
  list-style: none;
}

/* about me section style  */
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 155px;

  margin-bottom: 130px;
}
.about-me .about-info {
}

.about-me .about-info > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-me .about-info > ul > li {
  font-size: 20px;
}
.about-me .about-info > ul > li > h3 {
  font-weight: 400;
  margin-bottom: 10px;
  color: #757575;
}
.about-me .about-info > ul > li > p {
  font-weight: 700;

  color: #474747;
}
/* skil section style  */
.skils {
  margin-bottom: 130px;
}
.skils .skil-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.skils .skil-card-container .skil-card {
  background: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.7s;
  text-align: start;
}
.skils .skil-card-container .skil-card:hover {
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skils .skil-card-container .skil-card > img {
  margin-bottom: 30px;
}
.skils .skil-card-container .skil-card > h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;

  color: #181818;
}
.skils .skil-card-container .skil-card > p {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  text-align: justify;
}
/* resume style  */
.resume {
  margin-bottom: 130px;
}
.resume-container {
  display: flex;
  gap: 30px;
  text-align: start;
}
.resume-container .sub-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 30px;
  color: #474747;
}
.resume-item {
  margin-top: 20px;
}
.resume-item .resume-item-tittle {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  /* margin-bottom: 10px; */
  color: #474747;
}
.resume-item .resume-item-sub-tittle {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-item .resume-item-dis {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-right: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* footer style  */
footer {
  background: #fff8f3;
  padding: 180px 0;
}
footer .footer {
  display: flex;
  width: 100%;
  gap: 150px;
  text-align: left;
}
footer .footer .footer-left,
.footer-right {
  max-width: 50%;
}
footer .footer .footer-tittle {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #181818;
}
footer .footer .footer-dis {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #474747;
}
footer .footer .links {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer .footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .footer form > input,
textarea {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding: 15px 25px;
  outline: none;
}
footer .footer form > button {
  max-width: fit-content;
}
