* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.primery-color {
  color: #fd6e0a;
}
.dark-color {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #474747;
}
.primery-button {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background: #fd6e0a;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 1.2px;
  transition: all 0.5s;
  border: 1px solid #fd6f0a00;
  cursor: pointer;
}
.secondry-button {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  color: #fd6e0a;
  background: transparent;
  border-radius: 5px;
  letter-spacing: 1.2px;
  transition: all 1s;
  border: 1px solid #fd6e0a;
  transition: all 1s;
}
.secondry-button:hover {
  background: #fd6e0a;
  color: #ffffff;
}
.primery-button:hover {
  color: #cd5b0a;
  background: transparent;
  border: 1px solid #fd6e0a;
}
.primery-bg {
  color: #fd6e0a;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
  color: #181818;
}
.dis {
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 30px;
  color: #757575;
  max-width: 900px;
  text-align: justify;
}
/* header style  */
header {
  height: 830px;
  background-image: url("../images/hardy.png"), url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, right bottom, left center;
  margin-bottom: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
nav .logo {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;

  color: #181818;
}
nav .links ul {
  display: flex;
  align-items: center;
}
nav .links ul li {
  list-style: none;
  margin-left: 20px;
  background: transparent;
  transition: all 0.5s;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}
nav .links ul li:hover {
  background: #fd6f0a44;
}
nav .links ul li:hover:last-child {
  background: #fd6f0a00;
}
nav .links ul li a {
  text-decoration: none;
}

.header-text-box {
  text-align: left;
  margin-top: 180px;
}
.header-text-box > h2 {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}
.header-text-box > h2 > span {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
}
.header-text-box > .header-text {
  width: 585px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 30px;
}
.header-text-box > .header-text-button {
  display: flex;
  gap: 30px;
}
.header-text-box > .header-text-button li {
  list-style: none;
}

/* about me section style  */
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 155px;

  margin-bottom: 130px;
}

.about-me .about-info > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-me .about-info > ul > li {
  font-size: 20px;
}
.about-me .about-info > ul > li > h3 {
  font-weight: 400;
  margin-bottom: 10px;
  color: #757575;
}
.about-me .about-info > ul > li > p {
  font-weight: 700;

  color: #474747;
}
/* skil section style  */
.skils {
  margin-bottom: 130px;
}
.skils .skil-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.skils .skil-card-container .skil-card {
  background: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.7s;
  text-align: start;
}
.skils .skil-card-container .skil-card:hover {
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skils .skil-card-container .skil-card > img {
  margin-bottom: 30px;
}
.skils .skil-card-container .skil-card > h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;

  color: #181818;
}
.skils .skil-card-container .skil-card > p {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  text-align: justify;
}
/* resume style  */
.resume {
  margin-bottom: 130px;
}
.resume-container {
  display: flex;
  gap: 30px;
  text-align: start;
}
.resume-container .sub-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 30px;
  color: #474747;
}
.resume-item {
  margin-top: 20px;
}
.resume-item .resume-item-tittle {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  /* margin-bottom: 10px; */
  color: #474747;
}
.resume-item .resume-item-sub-tittle {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-item .resume-item-dis {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-right: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* footer style  */
footer {
  background: #fff8f3;
  padding: 180px 0;
}
footer .footer {
  display: flex;
  width: 100%;
  gap: 150px;
  text-align: left;
}
footer .footer .footer-left,
.footer-right {
  max-width: 50%;
}
footer .footer .footer-tittle {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #181818;
}
footer .footer .footer-dis {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #474747;
}
footer .footer .links {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer .footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .footer form > input,
textarea {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding: 15px 25px;
  outline: none;
}
footer .footer form > button {
  max-width: fit-content;
}

/* responsove for Extra small devices  */
@media screen and (max-width: 575.9px) {
  .container {
    width: 100%;
    padding: 0 5%;
  }
  .primery-button,
  .secondry-button {
    padding: 9px 18px;
    font-weight: 600;
    font-size: 16px;
  }
  header {
    background-image: none;
    height: auto;
  }
  nav {
    padding: 5% 0;
    align-items: flex-start;
  }
  nav .links ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .links ul li {
    margin: 5px 0;
    padding: 0;
  }
  .header-text-box {
    margin-top: 25px;
  }
  .header-text-box > h2 {
    font-size: 35px;
  }
  .header-text-box > h2 > span {
    font-size: 75px;
  }
  .header-text-box > .header-text {
    width: 100%;
  }
  .about-me {
    padding: 5%;
    margin-bottom: 50px;
  }
  .about-me .about-info > ul {
    flex-direction: column;
    gap: 10px;
  }
  .skils {
    margin-bottom: 50px;
  }
  .skils .skil-card-container {
    flex-direction: column;
  }
  .skils .skil-card-container .skil-card {
    border: 1px solid skyblue;
    border-radius: 8px;
  }
  .resume-container {
    flex-direction: column;
  }
  .resume-container .sub-tittle {
    text-align: center;
    border-bottom: 2px dashed skyblue;
    padding-bottom: 5px;
  }
  footer {
    padding: 50px 0;
  }
  footer .footer {
    flex-direction: column-reverse;
    gap: 50px;
  }
  footer .footer .footer-left,
  .footer-right {
    max-width: 100%;
  }
}

/* responsive for small devices  */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 5%;
  }
  header {
    height: 750px;
    background-image: url(../images/hardy.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom, right bottom;
    margin-bottom: 50px;
  }

  nav .links ul li {
    margin-left: 10px;
  }
  .header-text-box {
    margin-top: 50px;
  }
  .header-text-box > .header-text {
    margin-bottom: 60px;
    color: #ffffff;
  }
  .header-text-box > h2 {
    font-size: 40px;
  }
  .header-text-box > h2 > span {
    font-size: 80px;
  }
  .about-me {
    padding: 5%;
    margin-bottom: 50px;
  }
  .about-info ul {
    flex-direction: column;
    gap: 25px;
  }
  .skils {
    margin-bottom: 50px;
  }
  .skils .skil-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skils .skil-card-container .skil-card {
    border: 1px solid skyblue;
  }
  footer {
    padding: 50px 0;
  }
  footer .footer {
    flex-direction: column-reverse;
    gap: 50px;
  }
  footer .footer .footer-left,
  .footer-right {
    max-width: 100%;
  }
  .footer-right form > button {
    align-self: center;
  }
}
/* responsive for medium devices  */
@media screen and (max-width: 1200px) and (min-width: 768.1px) {
  .hide {
    display: none;
  }
  .container {
    padding: 0 5%;
  }
  header {
    margin-bottom: 50px;
  }

  .header-text {
    color: #ffffff;
  }
  .about-me {
    padding: 5%;
    margin-bottom: 50px;
  }
  .skils {
    margin-bottom: 50px;
  }
  .skils .skil-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skils .skil-card-container .skil-card {
    border: 1px solid skyblue;
  }

  footer {
    padding: 100px 0;
  }
  footer .footer {
    gap: 50px;
  }
}
